<launch>
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find indy7_description)/urdf/indy7.xacro'"/>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find indy7_qt_dcp_example)/rviz_config/example.rviz"/>
  
  <node name="joint_controller_app" type="app.py" pkg="indy7_qt_dcp_example" />
  <node name="dcp_driver" type="dcp_driver.py" pkg="indy7_qt_dcp_example" />
</launch>
